.boxSpacing{
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.root {    
    -fx-font: 14px "Helvetica";
}

.button {
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
    -fx-pref-height: 30;
}